
ion-icon{
    padding: 0px !important;
}
*:focus{
    outline: none;
}

button{
    background-color: #FFFFFF;
    border-style: none;
}

body{
    font-family: 'Roboto', sans-serif;    
}
.page{
    display: flex;
    position: relative;
    width: 100%;
    height: 667px;
}
.main{
     display: flex;
    flex-direction: column;
    position: relative;

    width: 100%;
    height: 667px;
}


.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 15px;
    
    width: 100%;
    height: 667px;
    
    z-index: 2;
    
    background-color: #FFFFFF;
}
.login img{
    width: 100px;
    height: 100px;
}
.login h1{
    color:#000000;
}

.login .logo{
    width: 130px;
    height: 92px;
    
    margin-bottom: 80px;
}

.login input{
    width: 261px;
    height: 54px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    
    border: 1.5px solid #D7D7D7;
    border-radius: 4px;
}
.login ::placeholder{
    display: flex;
    justify-content: center;
    align-items: center;

    color: #AEAEAE;
}

.login button{
    width: 109px;
    height: 45px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #696969;

    background-color: #E7E7E7;
    border-radius: 9px;
}

.login button:hover{
    cursor: pointer;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: absolute;
    top: 0px;
    
    padding: 0px 21px;
    width: 100%;
    height: 80px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.logo{
    width: 75px;
    height: 53px;
}

header ion-icon{
    width: 45px;
    height: 45px;
}

header button:hover{
    cursor: pointer;
}

.messages{
    display: flex;
    flex-direction: column;
    gap: 4px;
    
    width: 100%;
    height: 667px;
    padding-top: 106px;
    padding-bottom: 100px;
    overflow-y: auto;
    
    background-color: #e5e5e5;
}

.messages li{
    display: flex;
    align-items: center;
  
    width: 100%;

    border-radius: 2px;
}
.messages time{
    color: #AAAAAA;
}
.messages span {
    word-wrap: break-word;    
    width: 100%;
    padding-left: 5px;
    padding-top: 14px;
    padding-bottom: 15px;

    border-radius: 2px;
}

.cinza{
    background-color: #DCDCDC;
}

.branco{
    background-color: #FFFFFF;
}

.rosa{
    background-color: #FFDEDE;
}




.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-right: 21px;
    padding-left: 17px;
    width: 100%;
    height: 80px;
    
    position: absolute;
    bottom: 0px;
    
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.send-message:hover{
    cursor: pointer;
}

.footer .send-message ion-icon{
    width: 26px;
    height: 26px;
}

.footer input{
    width: 90%;
    height: 30px;
    border-style: none;
}
.footer ::placeholder{
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    
    color: #000000;
    opacity: 1; /*Aplicar efeito no mozilla*/
}

.background-sidebar{
    position: absolute;
    left: 0;

    background-color: rgba(0, 0, 0, 0.6);
    width: 30%;
    height:  667px;
}
.aside{
    position: absolute;
    display: flex;
    flex-direction: column;

    padding-top: 30px;
    overflow-y: auto;

    right: 0px;
    gap: 20px;
    
    width: 70%;
    height: 667px;

    background-color: #FFFFFF;
}
.aside .mini-title{

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #000000;
}

.aside li span {


    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.aside ul{
    display: flex;
    flex-direction: column;

    gap: 10px;
    padding-left: 20px;

}

.aside .people{
    font-size:25px;
}

.aside .checkmark{
    font-size: 15px;
    --ionicon-stroke-width: 120px;

    color: #28BB25;
}
.contacts .contact{
    display: flex;
    justify-content: start;
    align-items: center;

    gap: 15px;
    height: 30px;

}

.message-type{
    display: flex;
    flex-direction: column;

    width: 100%
}


.hidden{
    display: none;
}